/* .player1 */

/* .player2 */

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-template-rows: repeat(6, 60px);
  grid-column-gap: 15px;
  background-color: blue;
  grid-row-gap: 15px;
  border: 10px black;
  width: 520px;
  height: 480px;
}; */

/* .button {
    margin-top: 60px;
    line-height: 40px;
  font-weight: bold;
  padding: 0 80px;
} */

