.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(6, 60px);
    grid-column-gap: 15px;
     grid-row-gap: 15px;
    justify-items: center;
    background-color: blue;
    padding-left: 30px;
    width: 520px;
    height: 440px;
    margin: auto;
};